@import url('reset.css');

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


/* inline block*/

.container {
	width: 1200px;
	margin: 0 auto;
}

.header {
	padding: 30px 0 12px;
}

.header-container {
	font-size: 0;
	border-bottom: 1px solid rgba(70, 163, 88, .1);
}

.header-logo,
.header-list,
.header-list li,
.header-btn {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}

.header-logo {
	width: 150px;
}

.header-list {
	margin-top: 10px;
	width: 950px;
	text-align: center;
}

.header-list li {
	padding-bottom: 18px;
}

.header-list li.active {
	font-weight: 900;
	border-bottom: 2px solid #46A358;
}

.header-list li+li {
	margin-left: 50px;
}

.header-list li a {
	color: inherit;
	text-decoration: none;
}


.header-list li:hover {
  color: #46A358;
  font-weight: 700;
}
.header-btn {
	width: 100px;
	padding: 7px 17px 7px 7px;
	background: #46A358;
	color: #fff;
	text-decoration: none;
	border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.header-btn img {
  margin-right: 4px;
}

.color-green {
	color: #46A358;
}

.hero-section {
  font-size: 0px;
  background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
}

.hero-content {
  font-size: 16px;
  display: inline-block;
  width: 700px;
  padding: 68px 10px 44px 43px;
}

.hero-content h1 {
  padding-top: 7px;
  font-size: 14px;
  font-weight: 500;

}
.hero-content h2 {
  font-size: 70px;
  font-weight: 900;
}

.hero-content p {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  padding-top: 5px;
}

.hero-image {
  font-size: 16px;
  display: inline-block;
  width: 500px;
  vertical-align: top; 
}

.hero-content h1,
.hero-content h2, 
.shop-button {
  text-transform: uppercase;
}

.shop-button {
  padding: 9px 25px;
  background-color: #46A358;
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 5px;
  margin-top: 44px;
  border: 1px solid #EAEAEA;
  display: inline-block;
  cursor: pointer;


}
/* registration form */

body {
  color: #3D3D3D;
  font-family: 'Montserrat';
}

.re-container {
  width: 500px;
  margin: 0 auto;
    
}
form {
  background: #FFFFFF;
  box-sizing: border-box;
  padding: 50px 20px;
  outline: 1px solid #EAEAEA;
  border-bottom: 10px solid #46A358;
    
}
.form-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  font-family:'Montserrat';
    
}
.title {
  color:#46A358;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  margin-top:  36px;

 
}
.title.login {
  color:#3D3D3D;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
}


.text-form.left-aligned {
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  color: #3D3D3D;
  margin-top: 40px;
}
.text-form.centered {
  font-size: 13px;
  font-weight: 400;
  color: #3D3D3D;
  margin: 36px 0 11px;
}

input {
padding: 12px 14px;
margin-top: 16px;
width: 100%;
border-radius: 5px;
border: 1px solid #EAEAEA;
font-size: 14px;
font-weight: 500;
color:#A5A5A5;
    
}
button {
padding: 12px 14px;
margin-top: 16px;
width: 100%;
border-radius: 5px;
border: 1px solid #EAEAEA;
font-size: 0px;
color: #727272;
background-color: #FFFFFF;
cursor: pointer;
    
}

.register-button {
background-color:#46A358;
margin-top: 41px;
color: #FFFFFF;
font-size: 16px;
font-weight: 700;
}
.google-fb-img {
margin-right: 9px;
vertical-align: bottom; 
}

.login-button {
color: #727272;
vertical-align: center;
display: inline-block;
font-family: 'Montserrat';
font-size: 13px;
font-weight: 500;
}



/* ASIDE AND MAIN  */

.aside {
background: #FBFBFB;
width: 310px;
float: left;
padding: 26px 18px 0;
  
}

.aside-list {
	min-height: 774px;
}

.aside h3 {
font-weight: 700;
cursor: pointer;
}

.aside-img {
margin: 0 -18px;
}

.aside-list li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: inherit;
  padding-left: 12px;
}

.aside-list li {
margin-top: 40px;
}




.main {
width: 840px;
float: right;
}

.products {
  padding-top: 26px;
}


.products-sort-list li a{
  padding-right: 37px;
  float: left;
}

.products-filter {
  float: right;
  font-size: 15px;
   
}

.products-sort-list li a, .products-filter a{
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}

.products-cards {
	margin: 0 -15px;
  padding-top: 31px;
}

.products-card {
  width: 33.333%;
  float: left;
  padding: 2px 15px 70px;
}

.product-title {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.product-price {
  color: #46A358;
  font-weight: 700;
  padding-top: 6px;
}

.products-card img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	margin: 0 0 20px;
}

.mr-30 {
	margin-right: 30px;
}



.pagination-list li a {
  text-decoration: none;
  color: inherit;
     

}
.pagination-list li {
  border: 1px solid #E5E5E5;
  padding: 9px 12px;
  border-radius: 4px;
  float: right;
  margin-left: 10px;
  
   
}
.pagination-list li.active {
  background-color: #46A358; 
  color: #fff;
  padding: 9px 14px;
  
}

/* flex section */


.featured-blogposts {
  display: flex;
  gap: 28px;
  
  justify-content: space-between; 
  
  
}


.featured-blogpost {
  width: 50%;
  display: flex;
  /* border: #46A358 solid 1px; */
  background-color:#FBFBFB; 
 
 
  


  
}

.banner-content {
  display: flex;
  flex-flow: column;
  padding: 30px 30px 40px;
  column-gap: 9px;
  text-align: right;
  justify-content: flex-start;
  align-items: flex-end;

}

.featured-blogposts p, .blogposts p{
  font-weight: 400;
  font-size: 14px;
  color: #727272;
  line-height: 24px;
}

.featured-blogposts h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #3D3D3D;
  
}


.find-more-button {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background: #46A358;
  padding: 9px 28px;
  border-radius: 6px;
  margin: 15px 0px;
  
}

.find-more-button:hover {
  background: #FFFFFF;
  color: #46A358;
  border: 1px solid #46A358;
}


.featured-blogpost img{
  width: 100%;
  height: 292px;
  object-fit: cover;
}


.blogpost .publication-date {
  font-weight: 500;  
  padding: 4px 0;
}

.blog-title {

  text-align: center;
  margin-top: 138px;
}
.blog-title h2 {
  font-size: 30px;
  font-weight: 700;
  color: #3D3D3D; 

}


.blog-title p {
  font-size: 14px;
  font-weight: 400;
  color: #727272;
  line-height: 24px;
  padding: 15px 0;
}



.blogposts {
  display: flex;
	flex-wrap: wrap;
  row-gap: 40px;
  margin: 0 -15px;

 
  
}


.blogpost {
  width: 25%;
  padding: 0 15px;
}



.blogpost-content a {
  text-decoration: none;
  color:#3D3D3D;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  

 
  
}

.blogpost p {
  line-height: 22px;
  padding: 4px 0 9px;
}



.blogpost h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}


 .blogpost-content  {
  background: #FBFBFB;
  display: flex;
  flex-flow: column;
  padding: 8px 12px;
  justify-content: flex-end;
  align-items: flex-start;
  
  
}



.blogpost img {
  width: 100%;
  height: 195px;
  object-fit: cover;
}

 .read-more-link:hover {
  color: #46A358;
 }


 /* Lesson position */

 .main-products {
  width: 840px;
  margin: 0 auto;
  margin-right: 0;
  display: flex;
  flex-flow:column;



 }


  .products-sort-position {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 7px;
   
  }
 
 .products-sort-list-position {
  display: flex;
  gap: 30px;
 
  
  
  
 }



 .products-sort-list-position li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease, font-weight 0.3s ease;
  font-size: 15px;
  border: 2px solid transparent ;
 

}
  


  .products-filter-position a, p{
    text-decoration: none;
    color: inherit;
    font-size: 15px;

 }

.products-sort-list-position li a:hover {
  color: #46A358;
  font-weight: 700;
  border-bottom-color: 2px solid rgba(70, 163, 88, 1);


  
 }


 .products-cards-position {
  display: flex;
  background: #fff;
  padding: 30px 0;
  flex-wrap: wrap;
  gap: 30px;



 }

 .products-card-position {
  flex: 1 ;
  position: relative;
  
  
 
 }

 .products-card-position:hover::before {
	display: block;
}

.products-card-position::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 3px;
	background: green;
	z-index: 1;
	display: none;
}
 .products-card-position img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
 }
.card-img img{
	display: block;
	height: 300px;
	position: relative;
  transition: transform 0.3s ease;
  
 
}

.card-img {
  position: relative;
}

.card-description{
	padding: 20px;
}

.product-title a:hover {
	color:#46A358;
}

.product-title a {
	text-decoration: none;
	color: #000;
}

.card-actions {
	position: absolute;
	display: flex;
	gap: 15px;
	justify-content: center;
	width: 125px;
	bottom: 0;
	margin-left: -60px;
	left: 50%;
  /* background: rgba(255, 255, 255, 0.8);  */
  padding: 8px 6px;
  transition: opacity 0.3s ease;
	opacity: 0;
 

}

.card-actions img {
	width: 100%;
	height: 100%;
}

.card-img:hover .card-actions {
	opacity: 1;
  background: transparent;
}

span.card-off {
	position: absolute;
	top: 14px;
	left: 0;
	padding: 7px 8px;
	color: #fff;
	background: green;
	text-transform: uppercase;
}

 
 

