body {
    background: #707070;
}

.container {
    width: 500px;
    margin: 0 auto;
}
form {
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 50px 20px;
    border-bottom: 10px solid #46A358;
}
.form-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    
}
.title {
    color: #46A358;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin:  36px 20px 0;
}
.title.login {
    color: #3D3D3D;
    margin-right: 20px;
}

.text-form {
    font-size: 13px;
    font-weight: 400;
    color: #3D3D3D;
    margin-top: 36px;
}
.text-form.left-aligned {
    text-align: left;
    margin-top: 40px;
}

input {
    padding: 12px 14px;
    margin-top: 16px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    font-size: 14px;
    color:#A5A5A5;
    
}
button {
    padding: 12px 14px;
    margin-top: 16px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    font-size: 13px;
    color: #727272;
    background-color: #FFFFFF;
    cursor: pointer;
    
}

.register-button {
    background-color:#46A358;
    margin-top: 41px;
    color: #FFFFFF;
    font-size: 16px;
}